includes:
    - ../../larastan/larastan/extension.neon
    - ../../phpstan/phpstan-strict-rules/rules.neon

parameters:
    checkOctaneCompatibility: true

    strictRules:
        allRules: false
        # TODO: upgrade to v2 to use disallowedImplicitArrayCreation and remove ignoreErrors
        disallowedConstructs: true

    ignoreErrors:
        -
            identifier: ternary.shortNotAllowed
            reportUnmatched: false
        -
            identifier: empty.notAllowed
            reportUnmatched: false

    # https://phpstan.org/config-reference#parallel-processing
    parallel:
        jobSize: 100
        processTimeout: 300.0
