includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    paths:
        - app/

    ## Exclude files or folder from analysis ##
    # excludePaths:
    #    - app/Modules/*/Tests/*

    level: 5
    checkOctaneCompatibility: true

    parameters:
        strictRules:
            allRules: false
            PHPStan\Rules\DisallowedConstructs\DisallowedImplicitArrayCreationRule: true

    # https://phpstan.org/config-reference#parallel-processing
    parallel:
        jobSize: 100
        processTimeout: 300.0
